@import "utilities/variables";

html {
  background: var(--neutral-250);
  color: var(--neutral-600);
  touch-action: manipulation;
}

mark {
  background: var(--gradient-medium-blue);
  color: var(--neutral-fff);
}

::selection,
::-moz-selection {
  background: var(--blue-400);
  color: var(--neutral-fff);
  text-shadow: none;
}

pre {
  position: relative;
  background: var(--neutral-200);
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr min-content;
  grid-auto-flow: column;
  grid-template-areas:
    "lab cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt"
    "lab cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt"
    "lab cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt cnt";

  label {
    grid-area: lab;
    font-family: var(--font-type-sans);
    font-weight: bold;
    line-height: 1.8;
    font-size: var(--font-size-100);
    color: var(--neutral-800);
    opacity: 1;
    margin-left: calc(var(--font-size-000) * -1);
    padding: 0 var(--font-size-200);
    text-align: center;
  }

  code {
    grid-area: cnt;
    font-family: var(--font-type-mono);
    padding: 0 var(--font-size-300);
    border-radius: 0;
    border-left: 1px solid var(--neutral-350);
    font-size: 1em;
  }
}

pre, code, kbd, samp {
  background: var(--neutral-200);
  color: var(--neutral-600);
  border-radius: var(--radius-100);
  padding: var(--font-size-000);
  font-size: 0.75em;
  line-height: 2.25;
}

blockquote {
  position: relative;
  font-style: italic;
  font-size: var(--font-size-300);
  color: var(--neutral-800);
  padding: 2rem 0 1.5rem 4.25rem;
  border-radius: var(--radius-100);
  &::before {
    content: "\201C";
    color: var(--neutral-400);
    font-size: 7rem;
    position: absolute;
    left: -0.5rem;
    top: 4rem;
  }
}

hr {
  border-color: var(--neutral-400);
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
tfoot {
  background: var(--neutral-150);
  font-size: var(--font-size-000);
}

th, td {
  padding: var(--font-size-000);
}

th {
  color: var(--neutral-900);
}

tbody tr:nth-child(even) {
  background: var(--neutral-225);
}