@import "utilities/variables";

$textInputs:
  "input[type=" + "'text'], " +
  "input[type=" + "'email'], " +
  "input[type=" + "'password'], " +
  "input[type=" + "'search'], " +
  "input[type=" + "'url'], " +
  "input[type=" + "'number'], " +
  "input[type=" + "'color'], " +
  "input[type=" + "'date'], " +
  "input[type=" + "'month'], " +
  "input[type=" + "'week'], " +
  "input[type=" + "'datetime'], " +
  "input[type=" + "'datetime-local'], " +
  "input[type=" + "'tel']";

@mixin baseInputStyles {
  position: relative;
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 14px;
  margin: 4px 0;
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--radius-100);
  background-color: hsla(223, 10%, 27%, 0.35);
  font-family: var(--font-type-sans);
  text-overflow: ellipsis;
  font-size: 16px;
  color: var(--neutral-fff);
  -webkit-appearance: none;
}

input::selection,
input::-moz-selection {
  background: var(--blue-400);
  color: var(--neutral-fff);
  text-shadow: none;
}

fieldset {
  border: 0;
  padding: var(--space-150) 0;
}

#{$textInputs},
select,
textarea {
  @include baseInputStyles;

  &::placeholder {
    color: var(--neutral-700);
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: var(--duration-100);
  }

  &:active,
  &:focus {
    outline: 0;
    border-color: var(--blue-350);
  }

  &.error, &.invalid {
    border-color: var(--red-500);
  }

}

// Dropdown
select {
  position: relative;
  padding: 14px 48px 14px 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23fff' d='M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: calc(100% - 1.25rem);
  background-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  option,
  optgroup {
    background: var(--neutral-200);
    color: var(--neutral-500);
  }

}

// Search Input
input[type=search] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 17px;
  padding-left: 42px;
}

// Number Input
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  background-color: transparent;
  color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23fff' d='M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  -webkit-appearance: none;
}


// Color Input
input[type=color] {
  box-sizing: content-box;
  outline: 0;
  vertical-align: middle;
}

// Autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  outline: 0;
  -webkit-box-shadow: 0 0 0 999px hsla(220, 35%, 29%, 0.35) inset!important;
  -webkit-text-fill-color: var(--blue-800)!important;
  transition: background-color 9999s;
}

// Input Group
.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: var(--radius-100);
  background-color: hsla(223, 10%, 27%, 0.35);

  #{$textInputs} {
    border-radius: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-left: 24px;
    margin: 0;

    &:only-child {
      padding-top: 16px;
    }

    &:active,
    &:focus {
      border-color: transparent!important;
    }

  }

  &:focus-within {
    border-color: var(--blue-350);
  }
}

// Label
label {
  color: var(--neutral-700);
  opacity: 0.5;
  font-size: 16px;
}

.input-field label {
  position: absolute;
  left: 24px;
  display: block;
  pointer-events: none;
  transform-origin: bottom left;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  transition-duration: var(--duration-200);
}

.input-field:focus-within input[placeholder] ~ label,
.input-field input:not([placeholder]) ~ label,
.input-field input[placeholder]:not(:placeholder-shown) ~ label,
.input-field label:not(:only-child):first-child {
  transform: scale(0.82) translateY(-14px);
}

// label animation is not available in MS Edge because it doesn't support :placeholder-shown selector...
@supports (display: -ms-grid) {
  .input-field label {
    transform: scale(0.82) translateY(-10px)!important;
  }
}

// Placeholder
.input-field input:not(:focus):not(:only-child):not(:last-child):placeholder-shown::placeholder {
  opacity: 0;
}

input,
select,
textarea {
  touch-action: manipulation;
  -webkit-user-select: text;
}

.input-check {
  margin: 8px 0;
  position: relative;

  &:focus-within label::before {
    border-color: var(--neutral-700)!important;
  }

  label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-500);
    transition: color var(--duration-100) linear;
    opacity: 1;

    &::before { // Bullet
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-55%);
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid var(--neutral-400);
      background-color: var(--neutral-200);
    }

    &::after { // Tick
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      transform-origin: center;
      transform: translateY(-55%) scale(0);
      transition: transform 50ms linear;
    }

  }

  input[type=checkbox] ~ label {
    &:after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='white' d='M362.6 192.9L345 174.8c-.7-.8-1.8-1.2-2.8-1.2-1.1 0-2.1.4-2.8 1.2l-122 122.9-44.4-44.4c-.8-.8-1.8-1.2-2.8-1.2-1 0-2 .4-2.8 1.2l-17.8 17.8c-1.6 1.6-1.6 4.1 0 5.7l56 56c3.6 3.6 8 5.7 11.7 5.7 5.3 0 9.9-3.9 11.6-5.5h.1l133.7-134.4c1.4-1.7 1.4-4.2-.1-5.7z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: 0.5px 0.5px;
    }
  }

  input[type=radio] ~ label {
    &:after {
      background-color: white;
      border-radius: 50%;
    }
  }

  input:checked ~ label {
    color: var(--neutral-800);
    &:before {
      background-color: var(--blue-500);
      border-color: var(--blue-500);
    }
  }

  input[type=checkbox]:checked ~ label {
    &:after {
      transform: translateY(-55%) scale(1);
    }
  }

  input[type=radio]:checked ~ label {
    &:after {
      transform: translateY(-55%) scale(0.275);
    }
  }

  input {
    width: 1.85em;
    height: 1.85em;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }

}

label.file {

  @include baseInputStyles;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 197px;
  cursor: pointer;
  padding: 0;
  opacity: 1;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 0;
  }

  &:focus-within {
    border-color: var(--blue-350);
  }

  &::before { // input with file name placeholder
    content: var(--placeholder, 'Select File(s)');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 10.5px 18px;
    color: var(--neutral-500);
    font-size: var(--font-size-000);
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &::after { // browse button
    content: var(--button, 'Browse');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10.5px 15px;
    font-weight: 400;
    font-size: var(--font-size-100);
    color: #fff;
    background: var(--gradient-medium-blue);
  }

}