@import "utilities/variables";
@import "utilities/cls-flex";
@import "utilities/cls-grid";
@import "utilities/cls-svg";

/* Pointer Events */

.pointer-events-none {
  pointer-events: none!important;
}
.pointer-events-auto {
  pointer-events: auto!important;
}

/* Layout Modifiers */

.pos-rel {
  position: relative!important;
}
.pos-abs {
  position: absolute!important;
}
.pos-sticky {
  position: sticky!important;
}
.pos-fixed {
  position: fixed!important;
}

/* Background Colors */

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: #{$value}!important;
  }
}

/* Shadows */

@each $size, $value in $shadows {
  .shadow-#{$size} {
    box-shadow: #{$value}!important;
  }
}

/* Size Modifiers */

$mods: (
  "width": "w",
  "height": "h",
  "max-width": "max-w",
  "max-height": "max-h",
  "min-width": "min-w",
  "min-height": "min-h"
);

@each $mod, $shortMod in $mods {

  // Percentage based sizes
  .#{$shortMod}-full {
    #{$mod}: 100%!important;
  }
  .#{$shortMod}-half {
    #{$mod}: 50%!important;
  }
  .#{$shortMod}-third {
    #{$mod}: 33.3333333333%!important;
  }
  .#{$shortMod}-fourth {
    #{$mod}: 25%!important;
  }
  .#{$shortMod}-fifth {
    #{$mod}: 20%!important;
  }

  // spacing based sizes
  @each $space, $value in $spaces {
    .#{$shortMod}-#{$space} {
      #{$mod}: #{$value}!important;
    }
  }

}

/* Special Screen-size based max-width modifiers */
@each $screenWidth, $value in $screenSizes {
  .max-w-#{$screenWidth} {
    max-width: #{$value}!important;
  }
}

/* Spacing Modifiers */

$mods: (
  "margin": "mg",
  "padding": "pd"
);

$sides: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l"
);

// Margin auto classes
.mg-auto {
  margin: auto!important;
}
.mg-x-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}
.mg-y-auto {
  margin-top: auto!important;
  margin-bottom: auto!important;
}

@each $side, $shortSide in $sides {
  .mg-#{$shortSide}-auto {
    margin-#{$side}: auto!important;
  }
}

// Margin/Padding for all sides
@each $mod, $shortMod in $mods {
  @each $fluidSpace, $value in $fluidSpaces {
    .#{$shortMod}-#{$fluidSpace} {
      #{$mod}: #{$value}!important;
    }
  }
}

// Margin/Padding for x/y
@each $mod, $shortMod in $mods {
  @each $fluidSpace, $value in $fluidSpaces {
    .#{$shortMod}-x-#{$fluidSpace} {
      #{$mod}-left: $value!important;
      #{$mod}-right: $value!important;
    }
    .#{$shortMod}-y-#{$fluidSpace} {
      #{$mod}-top: #{$value}!important;
      #{$mod}-bottom: #{$value}!important;
    }
  }
}

// Margin/Padding for individual sides
@each $mod, $shortMod in $mods {
  @each $side, $shortSide in $sides {
    @each $fluidSpace, $value in $fluidSpaces {
      .#{$shortMod}-#{$shortSide}-#{$fluidSpace} {
        #{$mod}-#{$side}: #{$value}!important;
      }
    }
  }
}

// Border Radius
@each $radius, $value in $radii {
  .rounded-#{$radius} {
    border-radius: #{$value}!important;
  }
  .rounded-top-#{$radius} {
    border-top-left-radius: #{$value}!important;
    border-top-right-radius: #{$value}!important;
  }
  .rounded-right-#{$radius} {
    border-top-right-radius: #{$value}!important;
    border-bottom-right-radius: #{$value}!important;
  }
  .rounded-bottom-#{$radius} {
    border-bottom-left-radius: #{$value}!important;
    border-bottom-right-radius: #{$value}!important;
  }
  .rounded-left-#{$radius} {
    border-top-left-radius: #{$value}!important;
    border-top-right-radius: #{$value}!important;
  }
}

// Border Styles
.border-all,
.border-top,
.border-right,
.border-bottom,
.border-left {
  border-style: var(--border-style)!important;
  border-color: var(--border-color)!important;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--neutral-350);
}
.border-all {
  border-width: var(--border-width)!important;
}
.border-top {
  border-top-width: var(--border-width)!important;
}
.border-right {
  border-right-width: var(--border-width)!important;
}
.border-bottom {
  border-bottom-width: var(--border-width)!important;
}
.border-left {
  border-left-width: var(--border-width)!important;
}

/* State Modifiers */

.info {

  background: var(--gradient-medium-blue);
  color: #fff;
  border: 1px solid var(--blue-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--blue-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--blue-600);
    border: none;
  }

}

.success {

  background: var(--gradient-medium-green);
  color: #fff;
  border: 1px solid var(--green-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--green-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--green-600);
    border: none;
  }

}

.warning {

  background: var(--gradient-medium-yellow);
  color: #fff;
  border: 1px solid var(--yellow-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--yellow-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--yellow-600);
    border: none;
  }

}

.danger {

  background: var(--gradient-medium-red);
  color: #fff;
  border: 1px solid var(--red-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--red-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--red-600);
    border: none;
  }

}