@import "utilities/variables";
@import "utilities/cls-flex";
@import "utilities/cls-text";
@import "utilities/cls-svg";

/* Layout Modifiers */

.pos-rel {
  position: relative!important;
}

.pos-abs {
  position: absolute!important;
}

/* Size Modifiers */

$mods: (
  "width": "w",
  "height": "h",
  "max-width": "mw",
  "max-height": "mh"
);

@each $mod, $shortMod in $mods {

  // Percentage based sizes
  .#{$shortMod}-full {
    #{$mod}: 100%!important;
  }
  .#{$shortMod}-half {
    #{$mod}: 50%!important;
  }
  .#{$shortMod}-third {
    #{$mod}: 33.3333333333%!important;
  }
  .#{$shortMod}-fourth {
    #{$mod}: 25%!important;
  }
  .#{$shortMod}-fifth {
    #{$mod}: 20%!important;
  }

  // spacing based sizes
  @each $space, $value in $spaces {
    .#{$shortMod}-#{$space} {
      #{$mod}: #{$value}!important;
    }
  }

}

/* Font Size Modifiers */

@each $fontSize, $value in $fontSizes {
  .txt-#{$fontSize} {
    font-size: #{$value}!important;
  }
}

/* Spacing Modifiers */

$mods: (
  "margin": "mg",
  "padding": "pd"
);

$sides: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l"
);

// Margin auto classes
.mg-auto {
  margin: auto!important;
}
.mg-x-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}
.mg-y-auto {
  margin-top: auto!important;
  margin-bottom: auto!important;
}

@each $side, $shortSide in $sides {
  .mg-#{$shortSide}-auto {
    margin-#{$side}: auto!important;
  }
}

// Margin/Padding for all sides
@each $mod, $shortMod in $mods {
  @each $fluidSpace, $value in $fluidSpaces {
    .#{$shortMod}-#{$fluidSpace} {
      #{$mod}: #{$value}!important;
    }
  }
}

// Margin/Padding for x/y
@each $mod, $shortMod in $mods {
  @each $fluidSpace, $value in $fluidSpaces {
    .#{$shortMod}-x-#{$fluidSpace} {
      #{$mod}-left: $value;
      #{$mod}-right: $value;
    }
    .#{$shortMod}-y-#{$fluidSpace} {
      #{$mod}-top: #{$value}!important;
      #{$mod}-bottom: #{$value}!important;
    }
  }
}

// Margin/Padding for individual sides
@each $mod, $shortMod in $mods {
  @each $side, $shortSide in $sides {
    @each $fluidSpace, $value in $fluidSpaces {
      .#{$shortMod}-#{$shortSide}-#{$fluidSpace} {
        #{$mod}-#{$side}: #{$value}!important;
      }
    }
  }
}

// Border Radius
@each $radius, $value in $radii {
  .rounded-#{$radius} {
    border-radius: #{$value}!important;
  }
  .rounded-top-#{$radius} {
    border-top-left-radius: #{$value}!important;
    border-top-right-radius: #{$value}!important;
  }
  .rounded-right-#{$radius} {
    border-top-right-radius: #{$value}!important;
    border-bottom-right-radius: #{$value}!important;
  }
  .rounded-bottom-#{$radius} {
    border-bottom-left-radius: #{$value}!important;
    border-bottom-right-radius: #{$value}!important;
  }
  .rounded-left-#{$radius} {
    border-top-left-radius: #{$value}!important;
    border-top-right-radius: #{$value}!important;
  }
}

/* State Modifiers */

.info {

  background: var(--gradient-medium-blue)!important;
  color: #fff!important;
  border: 1px solid var(--blue-400)!important;

  &.secondary {
    background: transparent!important;
    color: #fff!important;
    border: 2px solid var(--blue-400)!important;
  }

  &.tertiary {
    background: transparent!important;
    color: var(--blue-600)!important;
    border: none!important;
  }

}

.success {

  background: var(--gradient-medium-green)!important;
  color: #fff!important;
  border: 1px solid var(--green-400)!important;

  &.secondary {
    background: transparent!important;
    color: #fff!important;
    border: 2px solid var(--green-400)!important;
  }

  &.tertiary {
    background: transparent!important;
    color: var(--green-600)!important;
    border: none!important;
  }

}

.warning {

  background: var(--gradient-medium-yellow)!important;
  color: #fff!important;
  border: 1px solid var(--yellow-400)!important;

  &.secondary {
    background: transparent!important;
    color: #fff!important;
    border: 2px solid var(--yellow-400)!important;
  }

  &.tertiary {
    background: transparent!important;
    color: var(--yellow-600)!important;
    border: none!important;
  }

}

.danger {

  background: var(--gradient-medium-red)!important;
  color: #fff!important;
  border: 1px solid var(--red-400)!important;

  &.secondary {
    background: transparent!important;
    color: #fff!important;
    border: 2px solid var(--red-400)!important;
  }

  &.tertiary {
    background: transparent!important;
    color: var(--red-600)!important;
    border: none!important;
  }

}