@import "utilities/variables";
@import "utilities/functions";

// 1. Fluid Typography and vertical rhythm
html {
  @include fluid-type(font-size, $minFont, $maxFont);
  font-family: var(--font-type-sans);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}

body, p {
  line-height: $baseLine;
}

article {

  user-select: text;

  p {
     margin-bottom: $baseLine;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.75rem;
    margin-top: $baseLine * 2;
  }

}

h1 {
  @include fluid-type(font-size line-height, $h1-min, $h1-max);
}

h2 {
  @include fluid-type(font-size line-height, $h2-min, $h2-max);
}

h3 {
  @include fluid-type(font-size line-height, $h3-min, $h3-max);
}

h4 {
  @include fluid-type(font-size line-height, $h4-min, $h4-max);
}

h5 {
  @include fluid-type(font-size line-height, $h5-min, $h5-max);
}

h6 {
  @include fluid-type(font-size line-height, $h6-min, $h6-max);
}