@import "utilities/variables";
@import "utilities/functions";

// 1. Fluid Typography and vertical rhythm
html {
  @include fluid-type(font-size, $minFont, $maxFont);
  font-family: var(--font-type-sans);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}

body, p {
  line-height: $baseLine;
}

a, a:visited {
  position: relative;
  touch-action: manipulation;
  color: var(--neutral-fff);
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity var(--duration-100);
  &:hover {
    text-decoration: none;
    opacity: 0.75;
  }
  &:focus {
    text-decoration: underline;
    border: 0;
    outline: 0;
    opacity: 0.75;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: var(--neutral-fff);
}

h1 > img, h1 > svg, h2 > img, h2 > svg, h3 > img, h3 > svg, h4 > img, h4 > svg, h5 > img, h5 > svg, h6 > img, h6 > svg {
  height: 1em;
  width: 1em;
  vertical-align: sub;
}

strong, b {
  color: var(--neutral-800);
}

b,
strong {
  font-weight: bolder;
}

sup,
sub,
small {
  font-size: var(--font-size-000);
}

pre,
code,
kbd,
samp  {
  font-family: var(--font-type-mono);
  font-size: 1em;
}

article, .vertical-flow {

  user-select: text;

  p {
     margin-bottom: $baseLine;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.75rem;
    margin-top: $baseLine * 2;
  }

}

h1 {
  @include fluid-type(font-size line-height, $h1-min, $h1-max);
}

h2 {
  @include fluid-type(font-size line-height, $h2-min, $h2-max);
}

h3 {
  @include fluid-type(font-size line-height, $h3-min, $h3-max);
}

h4 {
  @include fluid-type(font-size line-height, $h4-min, $h4-max);
}

h5 {
  @include fluid-type(font-size line-height, $h5-min, $h5-max);
}

h6 {
  @include fluid-type(font-size line-height, $h6-min, $h6-max);
}