@import "utilities/variables";
@import "utilities/functions";
@import "reset";
@import "base";
@import "text";
@import "navigation";
@import "inputs";
@import "scrollbar";
@import "buttons";
@import "tooltips";
@import "badges";
@import "modifiers"; // should come last bc specificity

// Create Variables

:root {

  // FONT TYPES
  --font-type-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-type-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-type-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  // FONT SIZES
  @each $fontSize, $value in $fontSizes {
    --font-size-#{$fontSize}: #{$value};
  }

  // SPACE
  @each $space, $value in $spaces {
    --space-#{$space}: #{$value};
  }

  // SHADOWS
  @each $shadow, $value in $shadows {
    --shadow-#{$shadow}: #{$value};
  }

  // RADII
  @each $radius, $value in $radii {
    --radius-#{$radius}: #{$value};
  }

  // Durations
  @each $duration, $value in $durations {
    --duration-#{$duration}: #{$value};
  }

  // CURVES
  @each $curve, $value in $curves {
    --curve-#{$curve}: #{$value};
  }

  // COLORS
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  // GRADIENTS
  @each $gradient, $value in $gradients {
    --gradient-#{$gradient}: #{$value};
  }

}