svg {

  width: var(--font-size-300);
  height:var(--font-size-300);
  stroke-width: 1em;
  stroke: currentColor;
  fill: currentColor;

  &.bold, .bold {
    stroke-width: 1.25em;
  }
  &.bolder, .bolder {
    stroke-width: 1.5em;
  }
  &.fat, .fat{
    stroke-width: 2em;
  }

  &.outline, .outline {
    fill: none;
    transition-property: stroke;
  }

  &.fill, .fill {
    stroke: none;
    transition-property: fill;
  }

  &.stroke-round, .stroke-round {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

}