@import "functions";

$baseLine: 1.5rem;
$minScreen: 512px;
$maxScreen: 1920px;

$minFont: 16px;
$maxFont: 20px;

$h1-min: 22px;
$h1-max: 67px;

$h2-min: 21px;
$h2-max: 50px;

$h3-min: 19px;
$h3-max: 38px;

$h4-min: 18px;
$h4-max: 28px;

$h5-min: 17px;
$h5-max: 21px;

$h6-min: 16px;
$h6-max: 18px;

@mixin fluid-type($properties, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $minScreen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($minScreen, $min-value, $maxScreen, $max-value);
      }
    }

    @media screen and (min-width: $maxScreen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Assume 16px base
$fontSizes: (
  "000": 0.75rem,
  "100": 0.875rem,
  "200": 1rem,
  "300": 1.125rem,
  "400": 1.25rem,
  "500": 1.5rem,
  "600": 1.875rem,
  "700": 2.25rem,
  "800": 3rem,
  "900": 3.75rem
);