$duration-100: 100ms;
$duration-200: 150ms;
$duration-300: 250ms;

$curve-move-in: cubic-bezier(.5,.3,0,1);
$curve-move-out: cubic-bezier(.5,0,1,.7);

$curve-fade-in: ease-out;
$curve-fade-out: ease-in-out;