$space-000: 0;
$space-050: 4px;
$space-100: 8px;
$space-150: 12px;
$space-200: 16px;
$space-250: 24px;
$space-300: 32px;
$space-350: 48px;
$space-400: 64px;
$space-450: 96px;
$space-500: 128px;
$space-550: 192px;
$space-600: 256px;
$space-650: 384px;
$space-700: 512px;
$space-750: 640px;
$space-800: 768px;
$space-850: 1024px;
$space-900: 1280px;
