/* Pointer Events */
.pointer-events-none {
  pointer-events: none!important;
}
.pointer-events-auto {
  pointer-events: auto!important;
}

/* Cursor Types */
.cursor-pointer {
  cursor: pointer!important;
}
.cursor-default {
  cursor: default!important;
}