/* Pointer Events */
.pointer-events-none {
  pointer-events: none!important;
}
.pointer-events-auto {
  pointer-events: auto!important;
}

/* Dragging */
.no-drag {
  -moz-user-select: none!important;
  -webkit-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  -webkit-user-drag: none!important;
  user-drag: none!important;
  -webkit-touch-callout: none!important;
}

/* Cursor Types */
.cursor-pointer {
  cursor: pointer!important;
}
.cursor-default {
  cursor: default!important;
}