.grid {

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col-width), var(--max-col-width)));
  grid-auto-rows: minmax(var(--min-row-height), var(--max-row-height));

  --min-col-width: 256px;
  --max-col-width: 1fr;
  --min-row-height: 256px;
  --max-row-height: 100%;
  --grid-gap: 1.563rem;

  // gaps
  &.gap-xxs {
    --grid-gap: 0.512rem;
  }
  &.gap-xs {
    --grid-gap: 0.8rem;
  }
  &.gap-s {
    --grid-gap: 1rem;
  }
  &.gap-m {
    --grid-gap: 1.563rem;
  }
  &.gap-l {
    --grid-gap: 1.953rem;
  }
  &.gap-xl {
    --grid-gap: 2.441rem;
  }
  &.gap-xxl {
    --grid-gap: 3.052rem;
  }

  // column min widths
  &.col-min-w-64 {
    --min-col-width: min(100%, 64px);
  }
  &.col-min-w-96 {
    --min-col-width: min(100%, 96px);
  }
  &.col-min-w-128 {
    --min-col-width: min(100%, 128px);
  }
  &.col-min-w-196 {
    --min-col-width: min(100%, 196px);
  }
  &.col-min-w-256 {
    --min-col-width: min(100%, 256px);
  }
  &.col-min-w-384 {
    --min-col-width: min(100%, 384px);
  }
  &.col-min-w-512 {
    --min-col-width: min(100%, 512px);
  }
  &.col-min-w-640 {
    --min-col-width: min(100%, 640px);
  }
  &.col-min-w-768 {
    --min-col-width: min(100%, 768px);
  }
  &.col-min-w-1024 {
    --min-col-width: min(100%, 1024px);
  }

  // column max widths
  &.col-max-w-64 {
    --max-col-width: min(100%, 64px);
  }
  &.col-max-w-96 {
    --max-col-width: min(100%, 96px);
  }
  &.col-max-w-128 {
    --max-col-width: min(100%, 128px);
  }
  &.col-max-w-196 {
    --max-col-width: min(100%, 196px);
  }
  &.col-max-w-256 {
    --max-col-width: min(100%, 256px);
  }
  &.col-max-w-384 {
    --max-col-width: min(100%, 384px);
  }
  &.col-max-w-512 {
    --max-col-width: min(100%, 512px);
  }
  &.col-max-w-640 {
    --max-col-width: min(100%, 640px);
  }
  &.col-max-w-768 {
    --max-col-width: min(100%, 768px);
  }
  &.col-max-w-1024 {
    --max-col-width: min(100%, 1024px);
  }

  // row min heights
  &.row-min-h-64 {
    --min-row-height: 64px;
  }
  &.row-min-h-96 {
    --min-row-height: 96px;
  }
  &.row-min-h-128 {
    --min-row-height: 128px;
  }
  &.row-min-h-196 {
    --min-row-height: 196px;
  }
  &.row-min-h-256 {
    --min-row-height: 256px;
  }
  &.row-min-h-384 {
    --min-row-height: 384px;
  }
  &.row-min-h-512 {
    --min-row-height: 512px;
  }
  &.row-min-h-640 {
    --min-row-height: 640px;
  }
  &.row-min-h-768 {
    --min-row-height: 768px;
  }
  &.row-min-h-1024 {
    --min-row-height: 1024px;
  }

  // row max heights
  &.row-max-h-64 {
    --max-row-height: 64px;
  }
  &.row-max-h-96 {
    --max-row-height: 96px;
  }
  &.row-max-h-128 {
    --max-row-height: 128px;
  }
  &.row-max-h-196 {
    --max-row-height: 196px;
  }
  &.row-max-h-256 {
    --max-row-height: 256px;
  }
  &.row-max-h-384 {
    --max-row-height: 384px;
  }
  &.row-max-h-512 {
    --max-row-height: 512px;
  }
  &.row-max-h-640 {
    --max-row-height: 640px;
  }
  &.row-max-h-768 {
    --max-row-height: 768px;
  }
  &.row-max-h-1024 {
    --max-row-height: 1024px;
  }

  // alignment and justification
  &.center {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &.x-left { justify-content: flex-start }
  &.x-right { justify-content: flex-end }
  &.x-center { justify-content: center }
  &.x-around { justify-content: space-around }
  &.x-between { justify-content: space-between }
  &.x-evenly { justify-content: space-evenly }

  &.y-top { align-items: flex-start; align-content: flex-start; }
  &.y-center { align-items: center; align-content: center; }
  &.y-bottom { align-items: flex-end; align-content: flex-end; }
  &.y-around { align-items: center; align-content: space-around; }
  &.y-between { align-items: center; align-content: space-between; }
  &.y-evenly { align-items: center; align-content: space-evenly; }
  &.y-stretch { align-items: stretch; align-content: stretch; }
  &.y-baseline { align-items: baseline; align-content: flex-start; }

}