/* State Modifier Components */
.info {

  background: var(--gradient-medium-blue);
  color: #fff;
  border: 1px solid var(--blue-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--blue-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--blue-600);
    border: none;
  }

}

.success {

  background: var(--gradient-medium-green);
  color: #fff;
  border: 1px solid var(--green-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--green-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--green-600);
    border: none;
  }

}

.warning {

  background: var(--gradient-medium-yellow);
  color: #fff;
  border: 1px solid var(--yellow-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--yellow-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--yellow-600);
    border: none;
  }

}

.danger {

  background: var(--gradient-medium-red);
  color: #fff;
  border: 1px solid var(--red-400);

  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid var(--red-400);
  }

  &.tertiary {
    background: transparent;
    color: var(--red-600);
    border: none;
  }

}