@import "../utilities/variables";

:root {
  --tooltip-height: calc(2em + var(--font-size-000)); // padding y + font-size
  --tooltip-max-width: 250px;
  --tooltip-margin: 0.5em;
  --tooltip-background: var(--neutral-100);
  --tooltip-color: var(--neutral-fff);
}

[data-tooltip-top],
[data-tooltip-right],
[data-tooltip-bottom],
[data-tooltip-left] {

  &::after {
    position: absolute;
    z-index: 100;
    opacity: 0;
    content: '';
    height: var(--tooltip-height);
    max-width: var(--tooltip-max-width);
    padding: 0.5em 1em;
    font-size: var(--font-size-000);
    text-align: center;
    color: var(--tooltip-color);
    background: var(--tooltip-background);
    border-radius: var(--radius-100);
    box-shadow: var(--shadow-s);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    pointer-events: none;
    will-change: transform, opacity;
  }

  &:hover::after {
    opacity: 1;
  }

}

[data-tooltip-bottom]::after {
  content: attr(data-tooltip-bottom);
}
[data-tooltip-left]::after {
  content: attr(data-tooltip-left);
}

[data-tooltip-top] {
  &::after {
    content: attr(data-tooltip-top);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, calc(var(--tooltip-height) * -1), 0);
  }
  &:hover::after {
    transform: translate3d(-50%, calc((var(--tooltip-height) + var(--tooltip-margin)) * -1), 0);
  }
}

[data-tooltip-right] {
  &::after {
    content: attr(data-tooltip-right);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    top: 50%;
    left: 100%;
    transform: translate3d(0, -50%, 0);
  }
  &:hover::after {
    transform: translate3d(var(--tooltip-margin), -50%, 0);
  }
}

[data-tooltip-bottom] {
  &::after {
    content: attr(data-tooltip-bottom);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, var(--tooltip-height), 0);
  }
  &:hover::after {
    transform: translate3d(-50%, calc(var(--tooltip-height) + var(--tooltip-margin)), 0);
  }
}

[data-tooltip-left] {
  &::after {
    content: attr(data-tooltip-left);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    top: 50%;
    left: 0;
    transform: translate3d(-100%, -50%, 0);
  }
  &:hover::after {
    transform: translate3d(calc(-100% - var(--tooltip-margin)), -50%, 0);
  }
}